
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
}

header .logo{
    color: #7a06e6;
    font-style: oblique;
}

.section-title {
    text-align: center;
    margin-top: 40px;
    font-size: 2rem;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #222;
    color: white;
}

.navbar nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 1rem;
}

.navbar nav a:hover {
    text-decoration: underline;
}


.welcome{
    
    color: rgb(121, 4, 4);
    text-align: center;
    padding: 100px 20px;
}

.welcome h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.welcome p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #ff6600;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #e65c00;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    padding: 40px;
}

.product-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 6px rgb(0,0,0);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card .btn {
    margin-top: 10px;
}


footer {
    background: #05d327;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer .button{
     background-color: #c3c615;
     border-radius: 20px;
}
