.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(3, 100px); /* 3 rows */
  gap: 10px;
}

.box {
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

/* First box spans full width
.box1 {
  grid-column: 1 / 4; /* start at column 1, end before column 4 */


/* Second box spans from row 2 to last row */
/* .box2 {
  grid-row: 2 / 4; /* starts at row 2, ends before row 4 */

